#Number {
  background-color: #58D68D;
}

#Algebra {
  background-color: #F7DC6F;
}

#RatioandProportion {
  background-color: #E59866;
}

#GeometryandMeasures {
  background-color: #5DADE2;
}

#Probability {
  background-color: #EC7063;
}

#Statistics {
  background-color: #BB8FCE;
}
